@{
    ViewBag.Title = "ModeracionContenidos";
}

<h2>Moderacion de Contenidos</h2>

<table>
@foreach (var item in @ViewBag.ListaPend)
{ 
    <tr><td>@item.FechaPublicacion</td><td>@item.Titulo</td><td>@item.Tipo</td><td>@item.IdUsuario</td><td>@item.Estado</td>
        <td>@Html.ActionLink("Ver","Index","DetalleLibro", new { id = @item.Id }, null)</td>
    </tr>
}
</table>