@model BiblioContenidos_2.Models.ActualizarUsuario

@{
    ViewBag.Title = "Actualizar Datos de Usuario";
}

<h2>Actualizar Datos de Usuario</h2>

@using (@Html.BeginForm())
{ 
    @Html.ValidationSummary()
    <table>
        <tr><th>Campo</th><th>Valor Actual</th><th>Nuevo Valor</th></tr>
        <tr><td>Nick:</td><td>@User.Identity.Name</td><td>...</td></tr>
        <tr><td>E-Mail:</td><td> @ViewBag.ce </td><td>...</td></tr>
        <tr><td><label>Avatar:</label></td><td></td><td><input type="file" name="foto" accept="image/*"/></td></tr>
        <tr><td><label>Apellido Paterno: </label></td><td>@if(@ViewBag.usuario != null){ @ViewBag.usuario.ApPaterno }</td><td>@Html.TextBoxFor(a => a.ApPaterno)</td></tr>
        <tr><td><label>Apellido Materno: </label></td><td>@if(@ViewBag.usuario != null){ @ViewBag.usuario.ApMaterno }</td><td>@Html.TextBoxFor(a => a.ApMaterno)</td></tr>
        <tr><td><label>Nombres: </label></td><td>@if(@ViewBag.usuario != null){ @ViewBag.usuario.Nombres }</td><td>@Html.TextBoxFor(a => a.Nombres)</td></tr>
        <tr><td><label>Ubicación: </label></td><td>@if(@ViewBag.usuario != null){ @ViewBag.usuario.Ubicacion }</td><td>@Html.TextBoxFor(a => a.Ubicacion)</td></tr>
        <tr><td><input type="submit" value="Enviar"/></td><td>@Html.ActionLink("Reestablecer", "Index", "ActualizarUsuario")</td><td>@Html.ActionLink("Cerrar", "Index", "Home")</td></tr>
    </table>    
}

@if (@ViewBag.Resumen != null)
{
    <h3>Resúmen de actividad</h3>
    <table>
        <tr><th>Fecha</th><th>Tipo de Publicación</th><th>Título</th><th>Estado</th></tr>
        @foreach (var item in @ViewBag.Resumen)
        { 
            <tr><td>@item.FechaPublicacion</td><td>@item.Tipo</td><td>@item.Titulo</td><td>@item.Estado</td></tr>
        }
    </table>
}