@*@using CodeKicker.BBCode;
@using djsolid.BBCodeHelper;*@

@{
    ViewBag.Title = "Página Principal";
}

<div class="accordion">
	<h6><a href="#">Ultimos libros publicados</a></h6>
	<div>
		<p>
		<table>
            @foreach(var item in @ViewBag.ListaLibros)
            {
                <tr><td><img src="@Url.Action("ObtenerUrlImagen", "Home", new { id = @item.Portada })" alt="" height="50" width="50" /></td>
                    <td>@item.Descripcion</td><td>@item.Fecha</td><td>@item.Nick (Karma: @item.Karma)</td>
                    <td>@Html.ActionLink("Ver","Index","DetalleLibro", new { id = @item.IdContenido }, null)</td>
                </tr>    
            }
            </table>
		</p>
	</div>
	<h6><a href="#">Ultimos tutoriales o cursos publicados</a></h6>
	<div>
		<p>
		<table>
            @foreach (var item in @ViewBag.ListaCursos)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td>@MvcHtmlString.Create(@item.Descripcion)</td>
                    <td>@item.Fecha</td><td>@item.Nick (Karma: @item.Karma)</td>
                    <td>@Html.ActionLink("Ver", "VerCurso", "Contenido", new { id = @item.IdContenido }, null)</td>
                </tr>    
            }
        </table>

		</p>
	</div>
	<h6><a href="#">Ultimos artículos publicados</a></h6>
	<div>
		<p>
		<table>
            @foreach (var item in @ViewBag.ListaArticulos)
            {
                <tr>
                    <td>@item.Titulo</td>
                    @*<td>@MvcHtmlString.Create(@BBCode.ToHtml(@item.Descripcion))</td>*@
                    <td>@MvcHtmlString.Create(@item.Descripcion)</td>
                    <td>@item.Fecha</td><td>@item.Nick (Karma: @item.Karma)</td>
                    <td>@Html.ActionLink("Ver", "VerArticulo", "Contenido", new { id = @item.IdContenido }, null)</td>
                </tr>    
            }
        </table>
		</p>
	</div>
</div>


@*<h2>Ultimos libros publicados</h2>
<table>
@foreach(var item in @ViewBag.ListaLibros)
{
    <tr><td><img src="@Url.Action("ObtenerUrlImagen", "Home", new { id = @item.Portada })" alt="" height="50" width="50" /></td>
        <td>@item.Descripcion</td><td>@item.Fecha</td><td>@item.Nick (Karma: @item.Karma)</td>
        <td>@Html.ActionLink("Ver","Index","DetalleLibro", new { id = @item.IdContenido }, null)</td>
    </tr>    
}
</table>*@


@*<h2>Ultimos artículos publicados</h2>
<table>
@foreach (var item in @ViewBag.ListaArticulos)
{
    <tr>
        <td>@item.Titulo</td>
        //<td>@MvcHtmlString.Create(@BBCode.ToHtml(@item.Descripcion))</td>
        <td>@MvcHtmlString.Create(@item.Descripcion)</td>
        <td>@item.Fecha</td><td>@item.Nick (Karma: @item.Karma)</td>
        <td>@Html.ActionLink("Ver", "VerArticulo", "Contenido", new { id = @item.IdContenido }, null)</td>
    </tr>    
}
</table>*@

@*<h2>Ultimos tutoriales o cursos publicados</h2>
<table>
@foreach (var item in @ViewBag.ListaCursos)
{
    <tr>
        <td>@item.Titulo</td>
        //<td>@MvcHtmlString.Create(@BBCode.ToHtml(@item.Descripcion))</td>
        <td>@MvcHtmlString.Create(@item.Descripcion)</td>
        <td>@item.Fecha</td><td>@item.Nick (Karma: @item.Karma)</td>
        <td>@Html.ActionLink("Ver", "VerCurso", "Contenido", new { id = @item.IdContenido }, null)</td>
    </tr>    
}
</table>*@



