@*@using CodeKicker.BBCode;
@using djsolid.BBCodeHelper;*@

@model BiblioContenidos_2.Models.Comentario

@{
    ViewBag.Title = "VerCurso";
}

<h2>VerCurso</h2>

@if (ViewBag.Curso != null)
{
    @*@MvcHtmlString.Create(@BBCode.ToHtml(@ViewBag.Curso.Descripcion))*@
    @MvcHtmlString.Create(@ViewBag.Curso.Descripcion)
    
    <p>@if (!User.Identity.IsAuthenticated)
       { @ViewBag.msg } </p>
    
        
        <div id="NuevoComentario">@MvcHtmlString.Create(@ViewBag.Comentarios)</div>
        
       if (User.Identity.Name == "admin")
       { 
            <p>
                @Html.ActionLink("Aprobar", "AprobarContenido", "Contenido", new { id = @ViewBag.Curso.Id }, null)
            </p>
       }

}

@if (User.Identity.IsAuthenticated)
{

    using (Ajax.BeginForm("MeGustaPOST", "Contenido", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "ACuantosGusta" }))
    { 
            <input type="hidden" name="IdConte" id="IdConte" value="@ViewBag.Curso.Id" />
            <input type="image" src="../../Img/MeGusta.jpg"  alt="Me Gusta"/>
    }
    <div id="ACuantosGusta">@ViewBag.msg</div>
        
    <h2>Deja un comentario</h2>
    using (Ajax.BeginForm("Comentar", "Contenido", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "NuevoComentario" }))
    {
        <input type="hidden" id="conte" name="conte" value="@ViewBag.Curso.Id" />
        @Html.TextAreaFor(a => a.Comentario1, new { @Style = "height:200px;width:500px;", id = "comentario", name = "comentario" })
        <br /><input type="submit" value="Comentar"/>
    }
}